@using POS.Model
@model ProductM
@{
    ViewData["Title"] = "Add Product";
    List<SubProductM> subProduct = new List<SubProductM>();
}


<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="~/assets/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
<!-- BS Stepper -->
<link rel="stylesheet" href="~/assets/plugins/bs-stepper/css/bs-stepper.min.css">
<!-- dropzonejs -->
<link rel="stylesheet" href="~/assets/plugins/dropzone/min/dropzone.min.css">

<style>
    .width-sm {
        max-width: 100px;
        font-size: .875rem !important;
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Add Product</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="bs-stepper">

                            <!-- form start -->
                            <form id="CreateForm" asp-action="Create">

                                <div class="bs-stepper-header" role="tablist">
                                    <div class="line"></div>
                                    <!-- your steps here -->
                                    <div class="step" data-target="#logins-part">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                            <span class="bs-stepper-circle">1</span>
                                            <span class="bs-stepper-label">Product Details</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="step" data-target="#information-part">
                                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                            <span class="bs-stepper-circle">2</span>
                                            <span class="bs-stepper-label">Product Variation</span>
                                        </button>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div class="bs-stepper-content">

                                    <!-- your steps content here -->
                                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                                        <div class="row">
                                            @*  <div class="col-md-4">
                                            <div class="form-group">
                                            <label>Product Code</label>
                                            <input asp-for="ProductCode" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter product code">
                                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                                            </div>
                                            </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Barcode</label>
                                                    <input asp-for="Barcode" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter barcode">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Category</label>
                                                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                                                        <option selected>---SELECT---</option>
                                                    </select>
                                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Brand</label>
                                                    <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId">
                                                        <option disabled selected>---SELECT---</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Product Name</label>
                                                    <input asp-for="ProductName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter product name">
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Unit</label>
                                                    <select asp-for="UnitId" class="form-control" asp-items="ViewBag.UnitId">
                                                        <option selected>---SELECT---</option>
                                                    </select>
                                                    <span asp-validation-for="UnitId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <!-- checkbox -->
                                                <div class="form-group clearfix pull-right">
                                                    <br />
                                                    <br />
                                                    <div class="icheck-success d-inline">
                                                        <input asp-for="IsActive" type="checkbox" id="checkboxPrimary3" checked>
                                                        <label for="checkboxPrimary3">
                                                            Active
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Product Description</label>
                                                    <textarea asp-for="ProductDescription" type="text" rows="5" class="form-control" id="exampleInputEmail1" placeholder="Enter product description"></textarea>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                        </div>

                                        <div class="card-footer">
                                            <button type="button" class="btn btn-primary" onclick="stepper.next()">
                                                <span class="tf-icons fas fa-chevron-circle-right"></span>&nbsp; Next
                                            </button>
                                            <button type="reset" class="btn btn-default">
                                                <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                            </button>
                                            <button class="btn btn-outline-info pull-right" asp-action="Index">
                                                <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                            </button>

                                        </div>
                                    </div>
                                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="card ">
                                                    <div class="card-header bg-gray">
                                                        <h3 class="card-title">
                                                            <span class="tf-icons fa fa-plus-square"></span>&nbsp;
                                                            Add Product Sub / Variation
                                                        </h3>
                                                    </div>
                                                    <!-- /.card-header -->
                                                    <div class="card-body">
                                                        <table id="CodesTable" class="table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th>Product Code</th>
                                                                    <th>Size</th>
                                                                    <th>Colour</th>
                                                                    <th>Zip</th>
                                                                    <th>Cost Code</th>
                                                                    <th>Unit Cost</th>
                                                                    <th>Selling Price</th>
                                                                    <th>Discount</th>
                                                                    <th>Qty</th>
                                                                    <th>
                                                                        <button id='btnAddDetailRow' type="button" class="btn btn-sm btn-warning visible" onclick="AddItem(this)">
                                                                            <span class="tf-icons fas fa-plus"></span>&nbsp; Add
                                                                        </button>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @for (int i = 0; i < Model.subproducts.Count; i++)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input asp-for="@Model.subproducts[i].ProductCode" type="text" class="form-control" placeholder="Product Code">
                                                                                <span asp-validation-for="@Model.subproducts[i].ProductCode" class="text-danger"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <select asp-for="@Model.subproducts[i].SizeId" class="form-control" asp-items="ViewBag.SizeId">
                                                                                    <option disabled selected>SELECT</option>
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <select asp-for="@Model.subproducts[i].ColourId" class="form-control" asp-items="ViewBag.ColourId">
                                                                                    <option disabled selected>SELECT</option>
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <select asp-for="@Model.subproducts[i].Zip" class="form-control">
                                                                                    <option disabled selected>SELECT</option>
                                                                                    <option>W/Z</option>
                                                                                    <option>WO/Z</option>
                                                                                </select>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input asp-for="@Model.subproducts[i].CostCode" type="text" class="form-control width-sm" placeholder="Ex. BAC">

                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input asp-for="@Model.subproducts[i].UnitCost" type="text" class="form-control width-sm" placeholder="unit cost">
                                                                                <span asp-validation-for="@Model.subproducts[i].UnitCost" class="text-danger"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group ">
                                                                                <input asp-for="@Model.subproducts[i].SellingPrice" type="text" class="form-control width-sm" placeholder="selling price">
                                                                                <span asp-validation-for="@Model.subproducts[i].SellingPrice" class="text-danger"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input asp-for="@Model.subproducts[i].Discount" type="text" class="form-control width-sm" placeholder="dicount">
                                                                                <span asp-validation-for="@Model.subproducts[i].Discount" class="text-danger"></span>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input asp-for="@Model.subproducts[i].StockQty" type="text" class="form-control width-sm" placeholder="qty">
                                                                                <span asp-validation-for="@Model.subproducts[i].StockQty" class="text-danger"></span>
                                                                                <input type="hidden" asp-for="@Model.subproducts[i].IsDeleted" />
                                                                            </div>
                                                                        </td>
                                                                        <td style="max-width:70px;">
                                                                            <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteItem(this)">
                                                                                 <span class="tf-icons fa fa-times"></span>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }

                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <br />
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <button type="button" class="btn btn-primary" onclick="stepper.previous()">
                                                        <span class="tf-icons fas fa-chevron-circle-left"></span>&nbsp; Previous
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">
                                                        <span class="tf-icons fas fa-save"></span>&nbsp; Save
                                                    </button>
                                                    <button type="reset" class="btn btn-default">
                                                        <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                                    </button>
                                                    <button class="btn btn-outline-info pull-right" asp-action="Index">
                                                        <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <!-- /.card-body -->

                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">

        function AddItem(btn) {

            var table;
            table = document.getElementById('CodesTable');
            var rows = table.getElementsByTagName('tr');
            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = rows.length - 2;

            var nextrowIdx = eval(lastrowIdx) + 1;

            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx, '-' + nextrowIdx);

            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;

            var x = document.getElementsByTagName("INPUT");

            for (var cnt = 0; cnt < x.length; cnt++) {
                if (x[cnt].type == "text" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0) {
                    if (x[cnt].id.indexOf('Unit') == 0)
                        x[cnt].value = '';
                }
                else if (x[cnt].type == "number" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0)
                    x[cnt].value = 0;
            }

            rebindvalidators();
        }



        function rebindvalidators() {


            var $form = $("#CreateForm");

            $form.unbind();

            $form.data("validator", null);

            $.validator.unobtrusive.parse($form);

            $form.validate($form.data("unobtrusiveValidation").options);

        }


        function DeleteItem(btn) {

            var table = document.getElementById('CodesTable');
            var rows = table.getElementsByTagName('tr');

            var btnIdx = btn.id.replaceAll('btnremove-', '');
            //var idOfQuantity = btnIdx + "__Quantity";
            //var txtQuantity = document.querySelector("[id$='" + idOfQuantity + "']");

            //txtQuantity.value = 0;
            //alert(btnIdx)

            var idOfIsDeleted = btnIdx + "__IsDeleted";
            var txtIsDeleted = document.querySelector("[id$='" + idOfIsDeleted + "']");
            txtIsDeleted.value = "true";




            $(btn).closest('tr').hide();

            CalcTotals();

        }

    </script>


}